.container {
    background-color: rgb(210, 220, 243);
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    top: 0;
    height: 90%;
    max-height: 90%;
    border-radius: 9px;
    box-shadow: 0 0 1em rgb(8, 8, 8);
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}