.example-container {
    top: 0;
    left: 0;
    height: 100%;
}

.example-sidenav-content {
    height: 100%;
}

.example-sidenav {
    padding: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

#navBarName {
    cursor: pointer;
}